.watch{
    width: 100vw;
    height: 100vh;
}
.watch video{
width: 100%;
object-fit: cover;
height: 100%;
}
.back{
    display: flex;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top:10px;
    left:10px;
    color: white;
    z-index: 2;
}